

.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center
    ;
    padding: 10px;
    background-color: antiquewhite;
}

.headerRight{
    display: flex;
    gap: 15px;
}


.logo{
    display: flex;
    align-items: center;
}
.logo img{
   
    width: 100px;
}


.searchedDishes{
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 12px;
}

